.auction-component{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.auction4box{
    display: flex;
    justify-content: center;
    align-items: center;

   
   
}
.auction4box-same{
    margin: 20px;
       display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 20px 10px;
height: 120px;
flex-shrink: 0;
border-radius: 5px;
background: #249EAE;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}